<h2>Exciting Stuff regarding Orders should be showing up here!</h2>

<p>Start Date: <input type="date" ng-model="startDate"> End Date: <input type="date" ng-model="endDate"><button ng-click="getOrders()">See Orders for Selected Dates</button></p>

<ul ng-repeat="purch in orders">
<li><b>${{purch.amount}}</b></li>
<li>{{purch.order_date}}</li>
<li>{{purch.address_street}}</li>
<li>{{purch.address_city}} {{purch.address_state}} {{purch.address_zip}}</li>
</ul>

<h2>Order Total: ${{moneySpent}}</h2>